{% extends "SiteLayout" %}

{% block "titleheader"  %}
{{Resources.UserNamePasswordResources.UserNamePasswordChangePasswordTitle}}
{% endblock %}

{% block "content" %}
<div class="form-box">
        <div class="form-top">
            <div class="form-top-left text-left">
                <h4>
                    {{Resources.UserNamePasswordResources.UserNamePasswordChangePasswordTitle}}
                </h4>

                <p>{{Message}}</p>
                {% if LoginUrl != "" %}
                    <a href="{{LoginUrl}}" style="color: rgb(3, 74, 243);">{{Resources.UserNamePasswordResources.UserNamePasswordLoginLinkTitle}}</a>
                {% endif %}
            </div>
        </div>
        <div class="form-bottom"></div>
    </div>    
{% endblock %}   