{% extends "SiteLayout" %}

{% block "titleheader" %}
{{Resources.UserNamePasswordResources.UserNamePasswordChangePasswordTitle | Escape }}
{% endblock %}

{% block "content" %}
<div class="form-box">
    <div class="form-top">
        <div class="form-top-left text-left">
            <h4>{{Resources.UserNamePasswordResources.UserNamePasswordExpiredPleaseResetTitle | Escape }}</h4>
            <div class="small">
                <text>
                    {{PasswordPolicyDescription | Escape }}
                </text>
            </div>
        </div>
    </div>

    <div class="form-bottom">
        <form role="form" method="post" class="login-form" action="runtime/ChangePassword/ChangePassword">
            {{ Csrf }}

            {% if Model.ErrorMessage != ""%}
                <div class="form-group small">
                    <span for="errorMessageLb" class="text-danger">
                        {{ Model.ErrorMessage | Escape }}
                    </span>
                </div>
            {% endif %}

            <input type="hidden" id="Parameters" name="Parameters" value="{{Model.Parameters | Escape }}">
            <input type="hidden" id="LoginUrl" name="LoginUrl" value="{{Model.LoginUrl | Escape }}">    
            
            <div class="form-group">
                <label class="sr-only" for="form-password">{{Resources.UserNamePasswordResources.ChangePassword_OldPassword | Escape }} :*</label>
                <input type="password" name="OldPassword" placeholder="{{Resources.UserNamePasswordResources.ChangePassword_OldPassword | Escape }} ..." class="form-password form-control required" id="form-password">
            </div>

            <div class="form-group">
                <label class="sr-only" for="form-password">{{Resources.UserNamePasswordResources.ChangePassword_NewPassword | Escape }} :*</label>
                <input type="password" name="NewPassword" placeholder="{{Resources.UserNamePasswordResources.ChangePassword_NewPassword | Escape }} ..." class="form-password form-control required" id="form-password">
            </div>

            <div class="form-group">
                <label class="sr-only" for="form-password">{{Resources.UserNamePasswordResources.ChangePassword_ConfirmPassword | Escape }} :*</label>
                <input type="password" name="ConfirmPassword" placeholder="{{Resources.UserNamePasswordResources.ChangePassword_ConfirmPassword | Escape }} ..." class="form-password form-control required" id="form-password">
            </div>

            <div class="form-group">
                <button type="submit" class="btn">{{Resources.UserNamePasswordResources.ForgotPasswordPage_OK | Escape }}</button>
            </div>
        </form>
    </div>

</div>     
{% endblock %}   