{% extends "SiteLayout" %}

{% block "titleheader"  %}
{{Resources.OtpResources.OtpAuthenticationView_TitleHeader | Escape }}
{% endblock %}

{% block "initscript"  %}
<link rel="stylesheet" href="runtime/assets/css/webauthn-wizards.css">
{% endblock %}

{% block "content" %}

<div class="form-box" style="max-width: 700px; width: fit-content;">
    <div class="form-bottom">
        
        <!-- Step 1: Set up web authentification -->
        <fieldset id="set-up-web-authentification" class="text-center">
            <h4>{{Resources.OtpResources.EnableWebAuthn_Step1SetupWebAuthnHelpText | Escape }}</h4>
            <div class="margin-content-step full-width-buttons">
                <div class="wizard-step-description-text">{{Resources.OtpResources.EnableWebAuthn_Step1DescriptionHelpText | Escape }}</div>
                <button id="onboard-with-wizard" type="button" class="btn">{{Resources.OtpResources.EnableWebAuthn_Step1WithWizardHelpText | Escape }}</button>
                <div class="wizard-step-or-text">{{Resources.OtpResources.OtpRecoveryCodeView_OR | Escape }}</div>
                <button id="onboard-without-wizard" type="button" class="btn">{{Resources.OtpResources.EnableWebAuthn_Step1WithoutWizardHelpText | Escape }}</button>
            </div>
        </fieldset>

        <!-- Step 2: Choose device -->
        <fieldset id="choose-device" class="text-center">
            <h4>{{Resources.OtpResources.EnableWebAuthn_Step2ChooseDeviceHelpText | Escape }}</h4>
            <div class="margin-content-step full-width-buttons">
                <div class="wizard-step-description-text">{{Resources.OtpResources.EnableWebAuthn_Step2DescriptionHelpText | Escape }} <br /> {{Resources.OtpResources.EnableWebAuthn_Step2Description1HelpText | Escape }}</div>
                <button id="onboard-with-wizard-windows-pc" type="button" class="btn">{{Resources.OtpResources.EnableWebAuthn_Step2ChooseDeviceWindowsPCHelpText | Escape }} <br /> <span>{{Resources.OtpResources.EnableWebAuthn_Step2ChooseDeviceWindowsPCWindows10HelpText | Escape }}</span></button><br /><br />
                <button id="onboard-with-wizard-android-smartphone" type="button" class="btn">{{Resources.OtpResources.EnableWebAuthn_Step2ChooseDeviceAndroidSmartphoneHelpText | Escape }} <br /> <span>{{Resources.OtpResources.EnableWebAuthn_Step2ChooseDeviceAndroidSmartphoneRecommendedVersionsHelpText | Escape }}</span></button><br /><br />
                <button id="onboard-with-wizard-iphone-or-ipad" type="button" class="btn">{{Resources.OtpResources.EnableWebAuthn_Step2ChooseDeviceAppleDevicesHelpText | Escape }} <br /> <span>{{Resources.OtpResources.EnableWebAuthn_Step2ChooseDeviceRecommenedAppleDevicesHelpText | Escape }}</span></button><br /><br />
                <button id="onboard-with-wizard-fido-keys" type="button" class="btn">{{Resources.OtpResources.EnableWebAuthn_Step2ChooseDeviceFIDO2KeysHelpText | Escape }} <br /> <span>{{Resources.OtpResources.EnableWebAuthn_Step2ChooseDeviceFIDO2KeysDevicesThatHaveUSBPortHelpText | Escape }}</span></button>
                <div class="wizard-step-or-text">{{Resources.OtpResources.OtpRecoveryCodeView_OR | Escape }}</div>
                <button id="onboard-with-wizard-go-back" type="button" class="btn btn-previous choose-device">{{Resources.OtpResources.EnableWebAuthn_ChooseDevicesGoBackHelpText | Escape }}</button>
            </div>
        </fieldset>

        <!-- Windows PC wizard -->
        <div id="windows-pc-wizard">
            <fieldset class="devices-group text-center">
                <h4>{{Resources.OtpResources.EnableWebAuthn_Step3GoToSettingHelpText | Escape }}</h4>
                <div class="margin-content-step">
                    <img style="max-width: 100% !important" src="runtime/images/secondfactor/webauthn/{{Model.CurrentUILanguageCode | Escape }}/windows-pc-step3.png" alt="Safewhere" />
                    <div class="wizard-step-description-text">{{Resources.OtpResources.EnableWebAuthn_WindowsPCStep3ClickStartHelpText | Escape }} <br /> {{Resources.OtpResources.EnableWebAuthn_WindowsPCStep3ClickSettingsHelpText | Escape }} <br /> {{Resources.OtpResources.EnableWebAuthn_WindowsPCStep3ClickAccountsHelpText | Escape }}</div>
                    <div class="wizard-buttons">
                        <button type="button" class="btn btn-previous windows-pc">{{Resources.OtpResources.EnableSecondFactorMethod_WizardPreviosButton | Escape }}</button>
                        <button type="button" class="btn btn-next windows-pc">{{Resources.OtpResources.EnableSecondFactorMethod_WizardNextButton | Escape }}</button>
                    </div>
                </div>
            </fieldset>

            <fieldset class="devices-group text-center">
                <h4>{{Resources.OtpResources.EnableWebAuthn_WindowsPCStep4AddLoginHelpText | Escape }}</h4>
                <div class="margin-content-step">
                    <img style="max-width: 100% !important" src="runtime/images/secondfactor/webauthn/{{Model.CurrentUILanguageCode | Escape }}/windows-pc-step4.png" alt="Safewhere" />
                    <div class="wizard-step-description-text">{{Resources.OtpResources.EnableWebAuthn_WindowsPCStep4SignInOptionHelpText | Escape }} <br /> {{Resources.OtpResources.EnableWebAuthn_WindowsPCStep4ClickSetupHelpText | Escape }} <br /> {{Resources.OtpResources.EnableWebAuthn_WindowsPCStep4ClickSetupAndFollowTheInstructionHelpText | Escape }}</div>
                    <div class="wizard-buttons">
                        <button type="button" class="btn btn-previous windows-pc">{{Resources.OtpResources.EnableSecondFactorMethod_WizardPreviosButton | Escape }}</button>
                        <button type="button" class="btn btn-next windows-pc">{{Resources.OtpResources.EnableSecondFactorMethod_WizardNextButton | Escape }}</button>
                    </div>
                </div>
            </fieldset>

            <fieldset class="devices-group text-center">
                <h4>{{Resources.OtpResources.EnableWebAuthn_WindowsPCStep5YourDeviceIsAllSetHelpText | Escape }}</h4>
                <div class="margin-content-step">
                    <div class="wizard-step-description-text"><span class="bolder500">{{Resources.OtpResources.EnableWebAuthn_WindowsPCStep5CongratulationsHelpText | Escape }}</span> <br /> {{Resources.OtpResources.EnableWebAuthn_WindowsPCStep5YouAreHaveNowAddedHelpText | Escape }} <br /><br /> {{Resources.OtpResources.EnableWebAuthn_WindowsPCStep5LoginFromThisDeviceHelpText | Escape }} <br /><br /> {{Resources.OtpResources.EnableWebAuthn_WindowsPCStep5NoteInProcessHelpText | Escape }}</div>
                </div>
                <div class="wizard-buttons">
                    <button type="button" class="btn btn-previous windows-pc">{{Resources.OtpResources.EnableSecondFactorMethod_WizardPreviosButton | Escape }}</button>
                    <button type="button" class="btn btn-next windows-pc">{{Resources.OtpResources.EnableSecondFactorMethod_WizardNextButton | Escape }}</button>
                </div>
            </fieldset>
        </div>

        <!-- Android Smartphone wizard -->
        <div id="android-smart-phone-wizard">
            <fieldset class="devices-group text-center">
                <h4>{{Resources.OtpResources.EnableWebAuthn_Step3GoToSettingHelpText | Escape }}</h4>
                <div class="margin-content-step">
                    <img src="runtime/images/secondfactor/webauthn/{{Model.CurrentUILanguageCode | Escape }}/android-smartphone-step3.png" alt="Safewhere" />
                    <div class="wizard-step-description-text">{{Resources.OtpResources.EnableWebAuthn_AndroidSmartphoneStep3OpenYourSmartphoneHelpText | Escape }}</div>
                    <div class="wizard-buttons">
                        <button type="button" class="btn btn-previous android-smart-phone">{{Resources.OtpResources.EnableSecondFactorMethod_WizardPreviosButton | Escape }}</button>
                        <button type="button" class="btn btn-next android-smart-phone">{{Resources.OtpResources.EnableSecondFactorMethod_WizardNextButton | Escape }}</button>
                    </div>
                </div>
            </fieldset>
            <fieldset class="devices-group text-center">
                <h4>{{Resources.OtpResources.EnableWebAuthn_AndroidSmartphoneStep4OAddFingerprintLoginHelpText | Escape }}</h4>
                <div class="margin-content-step">
                    <img src="runtime/images/secondfactor/webauthn/{{Model.CurrentUILanguageCode | Escape }}/android-smartphone-step4.png" alt="Safewhere" />
                    <div class="wizard-step-description-text">{{Resources.OtpResources.EnableWebAuthn_AndroidSmartphoneStep4OAddSelectFingerprintHelpText | Escape }}</div>
                    <div class="wizard-buttons">
                        <button type="button" class="btn btn-previous android-smart-phone">{{Resources.OtpResources.EnableSecondFactorMethod_WizardPreviosButton | Escape }}</button>
                        <button type="button" class="btn btn-next android-smart-phone">{{Resources.OtpResources.EnableSecondFactorMethod_WizardNextButton | Escape }}</button>
                    </div>
                </div>
            </fieldset>
            <fieldset class="devices-group text-center">
                <h4>{{Resources.OtpResources.EnableWebAuthn_AndroidSmartphoneStep5OEnterPasswordHelpText | Escape }}</h4>
                <div class="margin-content-step">
                    <img src="runtime/images/secondfactor/webauthn/{{Model.CurrentUILanguageCode | Escape }}/android-smartphone-step5.png" alt="Safewhere" />
                    <div class="wizard-step-description-text">{{Resources.OtpResources.EnableWebAuthn_AndroidSmartphoneStep5LoginWithYourConfiguredDeviceHelpText | Escape }}</div>
                    <div class="wizard-buttons">
                        <button type="button" class="btn btn-previous android-smart-phone">{{Resources.OtpResources.EnableSecondFactorMethod_WizardPreviosButton | Escape }}</button>
                        <button type="button" class="btn btn-next android-smart-phone">{{Resources.OtpResources.EnableSecondFactorMethod_WizardNextButton | Escape }}</button>
                    </div>
                </div>
            </fieldset>
            <fieldset class="devices-group text-center">
                <h4>{{Resources.OtpResources.EnableWebAuthn_AndroidSmartphoneStep6OChangeNameHelpText | Escape }}</h4>
                <div class="margin-content-step">
                    <img src="runtime/images/secondfactor/webauthn/{{Model.CurrentUILanguageCode | Escape }}/android-smartphone-step6.png" alt="Safewhere" />
                    <div class="wizard-step-description-text">{{Resources.OtpResources.EnableWebAuthn_AndroidSmartphoneStep6OptionalHelpText | Escape }}</div>
                    <div class="wizard-buttons">
                        <button type="button" class="btn btn-previous android-smart-phone">{{Resources.OtpResources.EnableSecondFactorMethod_WizardPreviosButton | Escape }}</button>
                        <button type="button" class="btn btn-next android-smart-phone">{{Resources.OtpResources.EnableSecondFactorMethod_WizardNextButton | Escape }}</button>
                    </div>
                </div>
            </fieldset>
            <fieldset class="devices-group text-center">
                <h4>{{Resources.OtpResources.EnableWebAuthn_AndroidSmartphoneStep7YourDeviceIsAllSetHelpText | Escape }}</h4>
                <div class="margin-content-step">
                    <div class="wizard-step-description-text"><span class="bolder500">{{Resources.OtpResources.EnableWebAuthn_AndroidSmartphoneStep7CongratHelpText | Escape }}</span> <br /> {{Resources.OtpResources.EnableWebAuthn_AndroidSmartphoneStep7CongratAddedFingerprintHelpText | Escape }} <br /><br /> {{Resources.OtpResources.EnableWebAuthn_AndroidSmartphoneStep7CongratAddedYouWillOnlyBeAbleToLoginHelpText | Escape }} <br /><br /> {{Resources.OtpResources.EnableWebAuthn_AndroidSmartphoneStep7CongratNoteHelpText | Escape }}</div>
                </div>
                <div class="wizard-buttons">
                    <button type="button" class="btn btn-previous android-smart-phone">{{Resources.OtpResources.EnableSecondFactorMethod_WizardPreviosButton | Escape }}</button>
                    <button type="button" class="btn btn-next android-smart-phone">{{Resources.OtpResources.EnableSecondFactorMethod_WizardNextButton | Escape }}</button>
                </div>
            </fieldset>
        </div>

        <!-- iPhone or iPad wizard -->
        <div id="iphone-or-ipad-wizard">
            <fieldset class="devices-group text-center">
                <h4>{{Resources.OtpResources.EnableWebAuthn_Step3GoToSettingHelpText | Escape }}</h4>
                <div class="margin-content-step">
                    <img src="runtime/images/secondfactor/webauthn/{{Model.CurrentUILanguageCode | Escape }}/iphone-ipad-step3.png" alt="Safewhere" />
                    <div class="wizard-step-description-text">{{Resources.OtpResources.EnableWebAuthn_IphoneIpadStep3OpenYourSmartphoneHelpText | Escape }}</div>
                    <div class="wizard-buttons">
                        <button type="button" class="btn btn-previous iphone-or-ipad">{{Resources.OtpResources.EnableSecondFactorMethod_WizardPreviosButton | Escape }}</button>
                        <button type="button" class="btn btn-next iphone-or-ipad">{{Resources.OtpResources.EnableSecondFactorMethod_WizardNextButton | Escape }}</button>
                    </div>
                </div>
            </fieldset>
            <fieldset class="devices-group text-center">
                <h4>{{Resources.OtpResources.EnableWebAuthn_IphoneIpadStep4EnterPasscodeHelpText | Escape }}</h4>
                <div class="margin-content-step">
                    <img src="runtime/images/secondfactor/webauthn/{{Model.CurrentUILanguageCode | Escape }}/iphone-ipad-step4.png" alt="Safewhere" />
                    <div class="wizard-step-description-text">{{Resources.OtpResources.EnableWebAuthn_IphoneIpadStep4OEnterYourPasscodeHelpText | Escape }}</div>
                    <div class="wizard-buttons">
                        <button type="button" class="btn btn-previous iphone-or-ipad">{{Resources.OtpResources.EnableSecondFactorMethod_WizardPreviosButton | Escape }}</button>
                        <button type="button" class="btn btn-next iphone-or-ipad">{{Resources.OtpResources.EnableSecondFactorMethod_WizardNextButton | Escape }}</button>
                    </div>
                </div>
            </fieldset>
            <fieldset class="devices-group text-center">
                <h4>{{Resources.OtpResources.EnableWebAuthn_IphoneIpadStep5OAddFingerprintLoginHelpText | Escape }}</h4>
                <div class="margin-content-step">
                    <img src="runtime/images/secondfactor/webauthn/{{Model.CurrentUILanguageCode | Escape }}/iphone-ipad-step5.png" alt="Safewhere" />
                    <div class="wizard-step-description-text">{{Resources.OtpResources.EnableWebAuthn_IphoneIpadStep5AddFingerprintInstructionLoginHelpText | Escape }}</div>
                    <div class="wizard-buttons">
                        <button type="button" class="btn btn-previous iphone-or-ipad">{{Resources.OtpResources.EnableSecondFactorMethod_WizardPreviosButton | Escape }}</button>
                        <button type="button" class="btn btn-next iphone-or-ipad">{{Resources.OtpResources.EnableSecondFactorMethod_WizardNextButton | Escape }}</button>
                    </div>
                </div>
            </fieldset>
            <fieldset class="devices-group text-center">
                <h4>{{Resources.OtpResources.EnableWebAuthn_IphoneIpadStep6ChangeNameHelpText | Escape }}</h4>
                <div class="margin-content-step">
                    <img src="runtime/images/secondfactor/webauthn/{{Model.CurrentUILanguageCode | Escape }}/iphone-ipad-step6.png" alt="Safewhere" />
                    <div class="wizard-step-description-text">{{Resources.OtpResources.EnableWebAuthn_IphoneIpadStep6OChangeNameOptionalHelpText | Escape }}</div>
                    <div class="wizard-buttons">
                        <button type="button" class="btn btn-previous iphone-or-ipad">{{Resources.OtpResources.EnableSecondFactorMethod_WizardPreviosButton | Escape }}</button>
                        <button type="button" class="btn btn-next iphone-or-ipad">{{Resources.OtpResources.EnableSecondFactorMethod_WizardNextButton | Escape }}</button>
                    </div>
                </div>
            </fieldset>
            <fieldset class="devices-group text-center">
                <h4>{{Resources.OtpResources.EnableWebAuthn_IphoneIpadStep7YourDeviceIsAllSetHelpText | Escape }}</h4>
                <div class="margin-content-step">
                    <div class="wizard-step-description-text"><span class="bolder500">{{Resources.OtpResources.EnableWebAuthn_IphoneIpadStep7CongratHelpText | Escape }}</span> <br /> {{Resources.OtpResources.EnableWebAuthn_IphoneIpadStep7CongratAddedFingerprintHelpText | Escape }} <br /><br /> {{Resources.OtpResources.EnableWebAuthn_IphoneIpadStep7CongratAddedYouWillOnlyBeAbleToLoginHelpText | Escape }} <br /><br /> {{Resources.OtpResources.EnableWebAuthn_IphoneIpadStep7CongratNoteHelpText | Escape }}</div>
                </div>
                <div class="wizard-buttons">
                    <button type="button" class="btn btn-previous iphone-or-ipad">{{Resources.OtpResources.EnableSecondFactorMethod_WizardPreviosButton | Escape }}</button>
                    <button type="button" class="btn btn-next iphone-or-ipad">{{Resources.OtpResources.EnableSecondFactorMethod_WizardNextButton | Escape }}</button>
                </div>
            </fieldset>
        </div>

        <!-- FIDO2 keys wizard -->
        <div id="fido2-keys-wizard">
            <fieldset class="devices-group text-center">
                <h4>{{Resources.OtpResources.EnableWebAuthn_FIDO2Keys3PutFIDO2KeyInUSBPortHelpText | Escape }}</h4>
                <div class="margin-content-step">
                    <div id="block_container" style="display: flex;">
                        <div id="left" style="width: 70%;">
                            <img style="max-width: 100% !important" src="runtime/images/secondfactor/webauthn/{{Model.CurrentUILanguageCode | Escape }}/fido2-keys-step3-left.png" alt="Safewhere" /><br /><br />
                            <b style="font-weight: bold;">{{Resources.OtpResources.EnableWebAuthn_FIDO2Keys3TitleTextLeft | Escape }}</b> <br />
                            <span>{{Resources.OtpResources.EnableWebAuthn_FIDO2Keys3DescriptionTextLeft | Escape }}</span>
                        </div>
                        <div id="right" style="width: 70%;">
                            <img style="max-width: 100% !important" src="runtime/images/secondfactor/webauthn/{{Model.CurrentUILanguageCode | Escape }}/fido2-keys-step3-right.png" alt="Safewhere" /><br /><br />
                            <b style="font-weight: bold;">{{Resources.OtpResources.EnableWebAuthn_FIDO2Keys3TitleTextRight | Escape }}</b> <br />
                            <span>{{Resources.OtpResources.EnableWebAuthn_FIDO2Keys3DescriptionTextRight | Escape }}</span>
                        </div>
                    </div>
                    <br />
                    <div class="wizard-buttons">
                        <button type="button" class="btn btn-previous fido2-keys">{{Resources.OtpResources.EnableSecondFactorMethod_WizardPreviosButton | Escape }}</button>
                        <button type="button" class="btn btn-next fido2-keys">{{Resources.OtpResources.EnableSecondFactorMethod_WizardNextButton | Escape }}</button>
                    </div>
                </div>
            </fieldset>
        </div>

        <!-- Final step: Log in -->
        <fieldset id="final-step-login" class="devices-group text-center">
            <h4>{{Resources.OtpResources.EnableWebAuthn_LoginHelpText | Escape }}</h4>
            {% if Model.ErrorMessage != null and Model.ErrorMessage != "" %}
                <div id="error-message" class="form-group">
                    <span for="errorMessageLb" class="text-danger">
                        {{ Model.ErrorMessage | Escape }}
                    </span>
                </div>
            {% endif %}

            <a id="takeAnActionCountDown" class="bolder500" style="cursor:default; display: none; color: cornflowerblue;" href="javascript: void(0)">
                {% assign var1 = '{0\}' %} 
                {{ Resources.OtpResources.OtpWebAuthenticationView_EnableWebAuthenViewActionCountDown | Replace: var1, "<span id='countdown'></span>" }}
            </a>
            <div id="onboardingErrorAtClientSide" class="text-danger" style="display: none">
                Error at client side
            </div>

            <div class="margin-content-step" style="margin-top: 60px; margin-bottom: 60px;">
                <div class="wizard-step-description-text">{{Resources.OtpResources.EnableWebAuthn_YourSecondAuthenticationMethodWillPopupHelpText | Escape }} <br /> {{Resources.OtpResources.EnableWebAuthn_DependOnWhatDeviceYourAreUsingHelpText | Escape }} <br /><br /> {{Resources.OtpResources.EnableWebAuthn_DependOnAndroidDeviceYourAreUsingHelpText | Escape }} <br /> {{Resources.OtpResources.EnableWebAuthn_DependOnIPhoneDeviceYourAreUsingHelpText | Escape }}<br /> {{Resources.OtpResources.EnableWebAuthn_DependOnWindowsPCDeviceYourAreUsingHelpText | Escape }}<br />{{Resources.OtpResources.EnableWebAuthn_DependOnMacBookDeviceYourAreUsingHelpText | Escape }}</div>
                <form id="registerWebAuth" method="post" action="/runtime/otpauth/webauth/registerSuccessed?ici_ci={{Model.ContextId | Escape }}" class="no-padding">
                    {{ Csrf }}
                    <div class="wizard-buttons-final-step">
                        <button id="btnRegister" class="btn btn-next">{{Resources.OtpResources.OtpWebAuthenticationView_EnableWebAuthenViewRegisterButtonText | Escape }}</button>
                    </div>
                </form>
            </div>
            <div class="wizard-step-description-text">{{Resources.OtpResources.EnableWebAuthn_OnboardWindowsDoesNotPopupHelpText | Escape }}</div>
            <div class="wizard-buttons-final-step">
                <button class="btn btn-go-to-choose-device">{{Resources.OtpResources.EnableWebAuthn_GetHelpSettingUpAuthenticatorHelpText | Escape }}</button>
            </div>
        </fieldset>

        {% if Model.IsShowLinkToChooseOtpMethods %}

                <div class="text-center">
                    <h6>
                        {{Resources.OtpResources.OnboardAnotherOtpMethods_NeedAnotherWayToSecureYourAccount | Escape }}
                    </h6>
                </div>
                {% for otp in Model.OnboardAnotherMethods %}
                    <div style="padding: 0 28px;">
                        <p style="margin-bottom: 0.5rem !important">
                            {% if otp.IsAuthenticatorType %}
                                <a href="{{otp.ChangeTokenProviderUrl | Escape }}">{{otp.ChangeTokenProviderText | Escape }}</a>
                            {% endif %}

                            {% if otp.IsOs2faktorType %}
                                <a href="{{otp.ChangeTokenProviderUrl | Escape }}">{{otp.ChangeTokenProviderText | Escape }}</a>
                            {% endif %}

                            {% if otp.IsDeviceAuthentication %}
                                <a href="{{otp.ChangeTokenProviderUrl | Escape }}">{{otp.ChangeTokenProviderText | Escape }}</a>
                            {% endif %}
                        </p>
                    </div>
                {% endfor %}
        {% endif %}
    </div>
</div>

<img id="displayBox" src="/runtime/assets/img/loader.svg" style="cursor: default; display: none; opacity:0.8">

<script src="/runtime/scripts/plugins/webauthn-wizards.js"></script>
<script type="text/javascript" language="JavaScript">
    window.contextIdOfEnableWebAuthnViewModel = "{{ Model.ContextId | Escape }}";
    window.onboardDialogTimeout = parseInt("{{ Model.OnboardDialogTimeout }}", 10);
    window.commonErrorMessage = "{{ Resources.OtpResources.EnableWebauthnView_CommonErrorMessage | Escape }}";
</script>
<script src="/runtime/scripts/plugins/webauth.mfa.helpers.js"></script>
<script src="/runtime/scripts/plugins/webauth.mfa.register.js"></script>

{% endblock %}
