{% extends "SiteLayout" %}

{% block "titleheader" %}
{{Resources.UserNamePasswordResources.UserNamePasswordForgottenPasswordTitle | Escape }}
{% endblock %}

{% block "content" %}
<div class="form-box">
        <div class="form-top">
            <div class="form-top-left text-left">
                <h4>
                    {{Resources.UserNamePasswordResources.UserNamePasswordInsertCredentialsToRenewLabel | Escape }}
                </h4>
                <div class="small">
                    {{ Model.Header  | Escape }}
                </div>
            </div>
        </div>
        <div class="form-bottom">
            <form role="form" method="post" class="login-form" action="{{ ResetPasswordFormUrl  | Escape }}">

                {{ Csrf }}

                {% if ErrorMessage != "" %}
                <div class="form-group small">
                    <span for="errorMessageLb" class="text-danger">
                        {{ ErrorMessage  | Escape }}
                    </span>
                </div>
                {% endif %}


                <div class="form-group">
                    <label class="sr-only" for="form-username">{{ Model.UniqueIdentifyBearingClaimName  | Escape }}</label>
                    <input type="text" name="uniqueIdentifyBearingClaimValue" placeholder="{{ Model.UniqueIdentifyBearingClaimName  | Escape }}..." class="form-username form-control" id="form-username">

                    <input id="nameClaimId" name="nameClaimId" type="hidden" value="{{ Model.NameClaimId  | Escape }}" />
                    <input id="authenticationId" name="authenticationId" type="hidden" value="{{ Model.AuthenticationId  | Escape }}" />
                    <input id="uniqueIdentifyBearingClaimName" name="uniqueIdentifyBearingClaimName" type="hidden" value="{{ Model.UniqueIdentifyBearingClaimName  | Escape }}" />
                </div>

                {% if Model.UniqueIdentifyBearingClaimName != Model.EmailClaimName %}
                <div class="form-group">
                    <label class="sr-only" for="form-email">{{ Model.EmailClaimName  | Escape }}</label>
                    <input type="text" name="emailClaimValue" placeholder="{{ Model.EmailClaimName  | Escape }}..." class="form-username form-control" id="form-email">


                </div>
                {% endif %}

                <input id="organizationName" name="organizationName" type="hidden" value="{{ Model.OrganizationName  | Escape }}" />
                <input id="emailClaimName" name="emailClaimName" type="hidden" value="{{ Model.EmailClaimName  | Escape }}">

                <div class="form-group">
                    <input id="expiredPasswordRenewalLogic" name="expiredPasswordRenewalLogic" type="hidden" value="{{ Model.ExpiredPasswordRenewalLogic }}" />

                    <label class="sr-only" for="form-captcha">{{Resources.UserNamePasswordResources.UserNamePasswordResetPasswordCodeLabel | Escape }}</label>

                    <label class="small text-center" for="form-captcha">
                        &nbsp; {{Resources.UserNamePasswordResources.UserNamePasswordEnterCaptchaLabel_Enter | Escape }}
                        {{ Captchar }}
                        {{Resources.UserNamePasswordResources.UserNamePasswordEnterCaptchaLabel_Below | Escape }}
                    </label>

                    <input type="text" name="captcha" placeholder="{{Resources.UserNamePasswordResources.UserNamePasswordResetPasswordCodeLabel | Escape }}..." class="form-username form-control required" id="form-captcha">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn">{{Resources.UserNamePasswordResources.ForgotPasswordPage_OK | Escape }}</button>
                </div>

            </form>
            {% if Model.LockedOutUntil != "" %}
                <div class="form-group" style="margin:1rem">
                    <span for="errorMessageLb" class="text-danger">
                        {{ Model.LockedOutUntil  | Escape }}
                    </span>
                </div>
            {% endif %}
        </div>
    </div>        
{% endblock %}   