{% extends "IdentifyMeSiteLayout" %}
{% block "titleheader" %}{{Resources.Authenticator_OnboardingSucceeded_Title | Escape }}{% endblock %}
{% block "initscript" %}
<script src="/runtime/Scripts/copy-to-clipboard.js"></script>
{% endblock %}
{% block "scripts" %}
<script type="text/javascript">
    function handleClick(cb) {
        $("#continue-btn").prop("disabled", !cb.checked);
    }

    function doContinue(redirectPath) {
        window.location.href = redirectPath;
    }
</script>
{% endblock %}
{% block "content" %}
{% if Model != null %}
<div class="form-top">
    <div class="form-top-left text-left">
        <h4 class="text-selfservice">
            {{ Resources.AuthenticatorAdministration_AuthenticatorsTitle | Escape }}
        </h4>
    </div>
</div>
<br />
<div class="form-center medium-container">
    <div class="form-top">
        <div class="form-top-left text-left margin-bottom-8">
            {% if Model.IsOnboarding %}
            <h4>{{ Resources.OtpRecoveryCode_AlmostThere | Escape }}</h4>
            {% else %}
            <h5>{{ Resources.OtpRecoveryCode_NewCodeGenerated | Escape }}</h5>
            {% endif %}
            <div class="small">
                {{ Resources.OtpRecoveryCode_AdviceMessage | Escape }}
            </div>
        </div>
    </div>
    <div class="form-bottom">
        <form>
            <div class="form-group recovery-code-box">
                <h4 id="recovery-code" class="text-center recovery-code-text">
                    {{ Model.RecoveryCode | Escape }}
                </h4>
            </div>
            <div class="form-group margin-bottom-8">
                <button
                    class="btn btn-default btn-copycode btn-selfservice w-100"
                    onclick='copyTextToClipboard("{{ Model.RecoveryCode | Escape }}"); return false;'
                >
                    {{ Resources.OtpRecoveryCode_CopyCode | Escape }}
                </button>
            </div>

            <div class="form-group">
                <label class="margin-bottom-8">
                    <input type="checkbox" onclick="handleClick(this);" />
                    {{ Resources.OtpRecoveryCode_ConfirmMessage | Escape }}
                </label>
                <button
                    id="continue-btn"
                    onclick='doContinue("{{ Model.RedirectPath | Escape }}"); return false;'
                    disabled
                    class="btn submit-outline-button btn-selfservice w-100"
                >
                    {{ Resources.OtpRecoveryCode_Continue | Escape }}
                </button>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}
