{% extends "IdentifyMeSiteLayout" %}
{% block "titleheader" %}{{Resources.AccessDenied_Title | Escape }}{% endblock %}
{% block "initscript" %}
<link rel="stylesheet" href="/selfservice/css/access-denied.css" />
{% endblock %}
{% block "scripts" %}
<script>
    var coll = document.getElementById("collapsible");
    var toggleIcon = document.getElementById("toggle-icon");
    coll.addEventListener("click", function () {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
            content.style.display = "none";
            toggleIcon.className = "fa fa-plus float-right";
        } else {
            content.style.display = "block";
            toggleIcon.className = "fa fa-minus float-right";
        }
    });
</script>
{% endblock %}
{% block "content" %}
<div class="form-box accessdenied-container text-center">
    <div class="form-top">
        <h4 class="title">{{ Resources.AccessDenied_Title | Escape }}</h4>
    </div>
    <br />
    <div class="form-bottom">
        <form id="access_denied_form" role="form">
            <div class="form-group">
                <h5 class="description">
                    {{ Resources.AccessDenied_YouAreNotAuthorizedToAccessThisLocation | Escape }}
                </h5>
            </div>
            <div id="my-claims" class="form-group">
                <button id="collapsible" type="button">
                    {{ Resources.AccessDenied_YouAreAuthenticatedAs | Replace: '{0\}', Model.UserIdentity | Escape }}
                    <i id="toggle-icon" class="fa fa-plus float-right"></i>
                </button>
                <div class="claimsContent">
                    <div class="col-xs-12">
                        <h5 id="message_body" class="title-form">
                            {{ Resources.AccessDenied_ClaimsWereIssued | Escape }}
                        </h5>
                    </div>
                    <table class="table table-bordered">
                        <colgroup>
                            <col class="col-md-4" />
                            <col class="col-md-8" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>
                                    <b>{{ Resources.CommonTextResources_ClaimType | Escape }}</b>
                                </th>
                                <th>
                                    <b>{{ Resources.CommonTextResources_ClaimValue | Escape }}</b>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for l in Model.IssuedClaims %}
                            <tr>
                                <td>{{ l.Type | Escape }}</td>
                                <td>{{ l.Value | Escape }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="col-xs-12">
                        <h5 id="message_body" class="title-form">
                            {{ Resources.AccessDenied_ClaimsWereIssuedFromAccessToken | Escape }}
                        </h5>
                    </div>
                    <table class="table table-bordered">
                        <colgroup>
                            <col class="col-md-4" />
                            <col class="col-md-8" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>
                                    <b>{{ Resources.CommonTextResources_ClaimType | Escape }}</b>
                                </th>
                                <th>
                                    <b>{{ Resources.CommonTextResources_ClaimValue | Escape }}</b>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for l in Model.IssuedClaimsFromAccessToken %}
                            <tr>
                                <td>{{ l.Type | Escape }}</td>
                                <td>{{ l.Value | Escape }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
