{% extends "IdentifyMeSiteLayout" %}
{% block "titleheader" %}{{Resources.Authenticator_EnableAuthenticator_Title | Escape }}{% endblock %}
{% block "initscript" %}
<link rel="stylesheet" href="/runtime/assets/css/authenticator-wizards.css" />
<script src="/runtime/Scripts/jquery.qrcode.js"></script>
<script src="/runtime/Scripts/qrcode.js"></script>
<script src="/runtime/Scripts/copy-to-clipboard.js"></script>
<script type="text/javascript" language="JavaScript">
    window.commonErrorMessage = `{{Model.ErrorMessage | Escape }}`;
    window.isOnboardWithWizard = `{{Model.IsOboardingWithWizard | Escape }}`;
</script>
<script src="/runtime/Scripts/plugins/authenticator-wizards.js"></script>
{% endblock %}
{% block "scripts" %}
<script type="text/javascript">
    function onClickedIsOnboardWithWizard() {
        $("#isOnboardWithWizard").val("true");
        $("#withoutWizardPassword").attr("name", "passwordDeactived");
    }
    function onClickedWizardPassword() {
        $("#wizardPassword").attr("name", "passwordDeactived");
        $("#wizardSubmit").prop("disabled", true);
    }
    $("#qrCodeOfWithoutWizard").qrcode({
        text: "{{Model.AuthenticatorUri | Escape }}",
        width: 200,
        height: 200,
    });
    $("#qrCodeOfWizard").qrcode({
        text: "{{Model.AuthenticatorUri | Escape }}",
        width: 155,
        height: 155,
    });
</script>
{% endblock %}
{% block "content" %}
<div class="form-top">
    <div class="form-top-left text-left">
        <h4 class="text-selfservice">
            {{ Resources.AuthenticatorAdministration_AuthenticatorsTitle | Escape }}
        </h4>
    </div>
</div>

<div class="wizard-container">
    <div class="form-bottom">
        <!-- Step 1: Set up authenticator app -->
        <fieldset id="set-up-authenticator-app" class="text-center">
            <h4>
                {{ Resources.EnableAuthenticator_ChooseOptionStep1HelpText | Escape }}
            </h4>

            <div class="margin-content-step full-width-buttons">
                <button id="onboard-with-wizard" type="button" class="btn">
                    {{ Resources.EnableAuthenticator_Option1HelpText | Escape }}
                </button>
                <div class="wizard-step-or-options-text">
                    {{ Resources.OtpRecoveryCodeView_OR | Escape }}
                </div>
                <button id="onboard-without-wizard" type="button" class="btn">
                    {{ Resources.EnableAuthenticator_Option2HelpText | Escape }}
                </button>
            </div>
        </fieldset>

        <!-- Option 1: Receive help setting up an authenticator app -->
        <div id="wizard">
            <fieldset class="devices-group text-center">
                <h4 class="text-center font-size-of-wizards-step">
                    Step 2: Download the app on your smartphone
                </h4>
                <div class="form-group text-center bolder content-step-2">
                    {{ Resources.EnableAuthenticator_DownloadAuthenticatorAppOnSmartPhoneHelpText | Escape }}
                    <br /><br />
                    {{ Resources.EnableAuthenticator_AuthenticatorAppWebSiteLocationHelpText | Escape }}
                    <br />
                    <a
                        href="https://www.microsoft.com/en-us/account/authenticator"
                        target="_blank"
                        >https://www.microsoft.com/en-us/account/authenticator</a
                    >
                    <br /><br />
                    {{ Resources.EnableAuthenticator_TheFollowingGuideIsForHelpText | Escape }}
                </div>
                <div class="wizard-buttons">
                    <button type="button" class="btn btn-previous wizard">
                        {{ Resources.EnableSecondFactorMethod_WizardPreviosButton | Escape }}
                    </button>
                    <button type="button" class="btn btn-next wizard">
                        {{ Resources.EnableSecondFactorMethod_WizardNextButton | Escape }}
                    </button>
                </div>
            </fieldset>

            <fieldset class="devices-group text-center">
                <h4 class="text-center font-size-of-wizards-step">
                    {{ Resources.EnableAuthenticator_Option1Step3HelpText | Escape }}
                </h4>
                <div class="form-group text-center margin-content-step">
                    <img
                        class="img-step"
                        src="/runtime/images/secondfactor/authenticator/{{ Model.CurrentUILanguageCode | Escape }}/step3-option1-@2x-nobg.png"
                        alt="Safewhere"
                    />
                    <div class="form-group bolder500 guideline-text-color">
                        {{ Resources.EnableAuthenticator_Step3Option1OpenAuthenticatorAndClickAddAccountHelpText | Escape }}
                    </div>
                </div>
                <div class="wizard-buttons">
                    <button type="button" class="btn btn-previous wizard">
                        {{ Resources.EnableSecondFactorMethod_WizardPreviosButton | Escape }}
                    </button>
                    <button type="button" class="btn btn-next wizard">
                        {{ Resources.EnableSecondFactorMethod_WizardNextButton | Escape }}
                    </button>
                </div>
            </fieldset>

            <fieldset class="devices-group text-center">
                <h4 class="text-center font-size-of-wizards-step">
                    {{ Resources.EnableAuthenticator_Option1Step4HelpText | Escape }}
                </h4>
                <div class="form-group text-center margin-content-step">
                    <img
                        class="img-step"
                        src="/runtime/images/secondfactor/authenticator/{{ Model.CurrentUILanguageCode | Escape }}/step4-option1-@2x-nobg.png"
                        alt="Safewhere"
                    />
                    <div class="form-group bolder500 guideline-text-color">
                        {{ Resources.EnableAuthenticator_Step4Option1ChooseAccountTypeHelpText | Escape }}
                    </div>
                </div>
                <div class="wizard-buttons">
                    <button type="button" class="btn btn-previous wizard">
                        {{ Resources.EnableSecondFactorMethod_WizardPreviosButton | Escape }}
                    </button>
                    <button type="button" class="btn btn-next wizard">
                        {{ Resources.EnableSecondFactorMethod_WizardNextButton | Escape }}
                    </button>
                </div>
            </fieldset>

            <fieldset class="devices-group text-center">
                <h4 class="text-center font-size-of-wizards-step">
                    {{ Resources.EnableAuthenticator_Option1Step5HelpText | Escape }}
                </h4>
                <div
                    class="form-group text-center bolder500 margin-content-step"
                >
                    <div
                        class="form-group unset-margin-bottom guideline-text-color"
                    >
                        {{ Resources.EnableAuthenticator_Step5Option1ScanQRCodeTypeHelpText | Escape }}
                    </div>
                    <div
                        style="display: none"
                        id="qr-code-onboard-with-wizard"
                        class="form-group text-center"
                    >
                        <div id="qrCodeOfWizard" class="text-center"></div>
                        <div
                            id="qrCodeData"
                            data-url="{{ Model.AuthenticatorUri | Escape }}"
                        ></div>
                    </div>
                    <img
                        id="step5-img"
                        style="display: none"
                        src="/runtime/images/secondfactor/authenticator/{{ Model.CurrentUILanguageCode | Escape }}/step5-option1-@2x-nobg.png"
                        alt="Safewhere"
                    />
                    <canvas
                        id="canvasresult"
                        class="unset-margin-bottom"
                    ></canvas>
                    <div
                        class="text-center wizard-step-or-wizards-text guideline-text-color"
                    >
                        {{ Resources.OtpRecoveryCodeView_OR | Escape }}
                    </div>
                    <div
                        class="form-group unset-margin-bottom guideline-text-color"
                    >
                        {{ Resources.EnableAuthenticator_Step5Option1EnterCodeManuallyHelpText | Escape }}
                    </div>
                    <div class="form-group text-center">
                        {% if Model.SharedKey != null %}
                            <kbd>{{ Model.SharedKey | upcase | Escape }}</kbd>
                        {% endif %}
                        <button
                            type="button"
                            class="btn btn-default btn-copy-code"
                        >
                            {{ Resources.OtpRecoveryCode_CopyCode | Escape }}
                        </button>
                    </div>
                </div>
                <div class="wizard-buttons">
                    <button type="button" class="btn btn-previous wizard">
                        {{ Resources.EnableSecondFactorMethod_WizardPreviosButton | Escape }}
                    </button>
                    <button type="button" class="btn btn-next wizard">
                        {{ Resources.EnableSecondFactorMethod_WizardNextButton | Escape }}
                    </button>
                </div>
            </fieldset>

            <fieldset class="devices-group text-center">
                <h4 class="text-center font-size-of-wizards-step">
                    {{ Resources.EnableAuthenticator_Option1Step6HelpText | Escape }}
                </h4>
                <div class="form-group text-center margin-content-step">
                    <img
                        class="img-step"
                        src="/runtime/images/secondfactor/authenticator/{{ Model.CurrentUILanguageCode | Escape }}/step6-option1-@2x-nobg.png"
                        alt="Safewhere"
                    />
                    <div class="form-group bolder500 guideline-text-color">
                        {{ Resources.EnableAuthenticator_Step6Option1TheAccountHasBeenAddedHelpText | Escape }}
                    </div>
                </div>
                <div class="wizard-buttons">
                    <button type="button" class="btn btn-previous wizard">
                        {{ Resources.EnableSecondFactorMethod_WizardPreviosButton | Escape }}
                    </button>
                    <button type="button" class="btn btn-next wizard">
                        {{ Resources.EnableSecondFactorMethod_WizardNextButton | Escape }}
                    </button>
                </div>
            </fieldset>
            <fieldset class="devices-group text-center">
                <h4 class="text-center font-size-of-wizards-step">
                    {{ Resources.EnableAuthenticator_Option1Step7HelpText | Escape }}
                </h4>

                {% if Model.ErrorMessage != null && Model.ErrorMessage != "" %}
                <div id="wizard-error-message" class="form-group text-center">
                    <span for="errorMessageLb" class="text-danger">
                        {{ Model.ErrorMessage | Escape }}
                    </span>
                </div>
                {% endif %}
                <form
                    id="form-with-wizard"
                    class="no-padding"
                    method="post"
                    action="/selfservice/Authenticator/VerifyToken"
                    enctype="multipart/form-data"
                    role="form"
                >
                    <input
                        type="hidden"
                        name="Secret"
                        value="{{ Model.Secret | Escape }}"
                    />
                    <input
                        type="hidden"
                        name="AuthenticatorUri"
                        value="{{ Model.AuthenticatorUri | Escape }}"
                    />
                    <input
                        type="hidden"
                        name="CurrentUILanguageCode"
                        value="{{ Model.CurrentUILanguageCode | Escape }}"
                    />
                    <input
                        type="hidden"
                        name="SharedKey"
                        value="{{ Model.SharedKey | Escape }}"
                    />

                    {% if Model.HasSelectedAuthenticator %}
                    <input
                        type="hidden"
                        name="SelectedAuthenticator.EnabledAuthenticator"
                        value="{{ Model.SelectedAuthenticator.EnabledAuthenticator | Escape }}"
                    />
                    <input
                        type="hidden"
                        name="SelectedAuthenticator.SecondFactorConnectionName"
                        value="{{ Model.SelectedAuthenticator.SecondFactorConnectionName | Escape }}"
                    />
                    <input
                        type="hidden"
                        name="SelectedAuthenticator.MfaMethod"
                        value="{{ Model.SelectedAuthenticator.MfaMethod | Escape }}"
                    />
                    <input
                        type="hidden"
                        name="SelectedAuthenticator.UserId"
                        value="{{ Model.SelectedAuthenticator.UserId | Escape }}"
                    />
                    {% endif %}
                    <div
                        class="form-group text-center bolder500 margin-content-step"
                    >
                        <img
                            class="img-step"
                            src="/runtime/images/secondfactor/authenticator/{{ Model.CurrentUILanguageCode | Escape }}/step7-option1-@2x-nobg.png"
                            alt="Safewhere"
                        />
                        <div class="form-group bolder500 guideline-text-color">
                            {{ Resources.EnableAuthenticator_Step7Option1TheAccountHasBeenAddedHelpText | Escape }}
                            <br />
                            <span style="color: dimgrey">
                                {{ Resources.EnableAuthenticator_Step7Option1EnterTheCodeInTheBoxBelowHelpText | Escape }}
                            </span>
                            <input
                                id="isOnboardWithWizard"
                                name="IsOboardingWithWizard"
                                type="checkbox"
                                checked
                                hidden
                            />
                            <input
                                id="wizardPassword"
                                name="Code"
                                type="text"
                                autocomplete="off"
                                class="form-password form-control required"
                            />
                        </div>
                    </div>
                    <div class="wizard-buttons-final-step wizard-buttons">
                        <button
                            id="btn-previous-final"
                            type="button"
                            class="btn btn-previous wizard"
                        >
                            {{ Resources.EnableSecondFactorMethod_WizardPreviosButton | Escape }}
                        </button>
                        <button
                            id="wizardSubmit"
                            name="wizardSubmit"
                            type="submit"
                            onclick="onClickedIsOnboardWithWizard()"
                            class="btn btn-submit"
                        >
                            {{ Resources.EnableAuthenticator_Confirm | Escape }}
                        </button>
                    </div>
                </form>
            </fieldset>
        </div>

        <!-- Option 2: I already have an authenticator app -->
        <div id="without-wizard">
            <fieldset class="devices-group text-center">
                <h4 class="text-center font-size-of-wizards-step">
                    {{ Resources.EnableAuthenticator_Option2Step2HelpText | Escape }}
                </h4>

                {% if Model.ErrorMessage != null && Model.ErrorMessage != "" %}
                <div
                    id="without-wizard-error-message"
                    class="form-group text-center"
                >
                    <span for="errorMessageLb" class="text-danger">
                        {{ Model.ErrorMessage | Escape }}
                    </span>
                </div>
                {% endif %}

                <div class="form-group text-center unset-margin-bottom">
                    {{ Resources.EnableAuthenticator_ScanQRCodeHelpText | Escape }}
                    <br />
                    <div id="qrCodeOfWithoutWizard" class="text-center"></div>
                    <div
                        id="qrCodeData"
                        data-url="{{ Model.AuthenticatorUri | Escape }}"
                    ></div>
                </div>

                <div class="text-center wizard-step-or-wizards-text">
                    {{ Resources.OtpRecoveryCodeView_OR | Escape }}
                </div>

                <div class="form-group text-center unset-margin-bottom">
                    {{ Resources.EnableAuthenticator_EnterKeyHelpText | Escape }}
                </div>

                <div class="form-group text-center">
                    {% if Model.SharedKey != null %}
                        <kbd>{{ Model.SharedKey | upcase | Escape }}</kbd>
                    {% endif %}
                    <button type="button" class="btn btn-default btn-copy-code">
                        {{ Resources.OtpRecoveryCode_CopyCode | Escape }}
                    </button>
                </div>
                <div class="form-group text-center unset-margin-bottom">
                    {{ Resources.EnableAuthenticator_UniqueCodeFromAuthenticatorAppHelpText | Escape }}
                    <br />
                    {{ Resources.EnableAuthenticator_UniqueCodeFromAuthenticatorAppEnterTheCodeHelpText | Escape }}
                </div>
                <form
                    id="form-without-wizard"
                    method="post"
                    action="/selfservice/Authenticator/VerifyToken"
                    enctype="multipart/form-data"
                    role="form"
                    class="wizard no-padding"
                >
                    {{ Csrf }}
                    <input
                        type="hidden"
                        name="Secret"
                        value="{{ Model.Secret | Escape }}"
                    />
                    <input
                        type="hidden"
                        name="AuthenticatorUri"
                        value="{{ Model.AuthenticatorUri | Escape }}"
                    />
                    <input
                        type="hidden"
                        name="CurrentUILanguageCode"
                        value="{{ Model.CurrentUILanguageCode | Escape }}"
                    />
                    <input
                        type="hidden"
                        name="SharedKey"
                        value="{{ Model.SharedKey | Escape }}"
                    />

                    {% if Model.HasSelectedAuthenticator %}
                    <input
                        type="hidden"
                        name="SelectedAuthenticator.EnabledAuthenticator"
                        value="{{ Model.SelectedAuthenticator.EnabledAuthenticator | Escape }}"
                    />
                    <input
                        type="hidden"
                        name="SelectedAuthenticator.SecondFactorConnectionName"
                        value="{{ Model.SelectedAuthenticator.SecondFactorConnectionName | Escape }}"
                    />
                    <input
                        type="hidden"
                        name="SelectedAuthenticator.MfaMethod"
                        value="{{ Model.SelectedAuthenticator.MfaMethod | Escape }}"
                    />
                    <input
                        type="hidden"
                        name="SelectedAuthenticator.UserId"
                        value="{{ Model.SelectedAuthenticator.UserId | Escape }}"
                    />
                    {% endif %}

                    <div class="form-group">
                        <input
                            type="checkbox"
                            name="IsOboardingWithWizard"
                            hidden
                        />
                        <input
                            id="withoutWizardPassword"
                            name="Code"
                            type="text"
                            autocomplete="off"
                            class="form-password form-control required"
                        />
                    </div>
                    <div class="wizard-buttons-final-step wizard-buttons">
                        <button
                            id="btn-previous-final"
                            type="button"
                            class="btn btn-previous without-wizard"
                        >
                            {{ Resources.EnableSecondFactorMethod_WizardPreviosButton | Escape }}
                        </button>
                        <button
                            id="withoutWizardSubmit"
                            name="withoutWizardSubmit"
                            type="submit"
                            onclick="onClickedWizardPassword()"
                            class="btn btn-default btn-submit"
                        >
                            {{ Resources.EnableAuthenticator_Confirm | Escape }}
                        </button>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}
