{% extends "IdentifyMeSiteLayout" %}
{% block "titleheader" %}{{ Resources.MyProfile_YourCertificate | Escape }}{% endblock %}
{% block "initscript" %}
<link rel="stylesheet" href="/selfservice/css/certificate.css" />
<script src="/selfservice/js/certificate.js"></script>
{% endblock %}
{% block "content" %}
<div class="form-box">
    <div class="form-top mb-4">
        <div class="form-top-left text-left">
            <h4>{{ Resources.MyProfile_YourCertificate | Escape }}</h4>
            <p class="card-text overflow-ellipsis">{{ Resources.Certificates_Manage_Your_Certificate | Escape }}</p>
        </div>
    </div>
    <br />
    <div class="form-bottom form-center">
        <form id="cerForm" action="/selfservice/Certificate" method="post" enctype="multipart/form-data" role="form">
            {{ Csrf }}
            {% if Model.ErrorMessage != null && Model.ErrorMessage != '' %}
                <div id="form-error-message" class="form-group flex-box text-danger text-center text-break error-bg pt-2 pb-2">
                    <span for="errorMessageLb">
                        {{ Model.ErrorMessage | br_to_newline | Escape }}
                    </span>
                </div>
            {% endif %}

            {% if Model.InfoMessage != null && Model.InfoMessage != '' %}
                <div id="form-info" class="form-group flex-box text-info text-center text-break info-bg pt-2 pb-2">
                    <span>
                        {{ Model.InfoMessage | br_to_newline | Escape }}
                    </span>
                </div>
            {% endif %}

            {% if Model.HasUserCertificate %}
                <div class="form-group mb-3">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover no-margin certificate-content">
                            <colgroup>
                                <col class="col-4" />
                                <col class="col-8" />
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td id="my_profile_user_certificate_subject_header">
                                        {{ Resources.CommonTextResources_Subject | Escape }}
                                    </td>
                                    <td class="breakword" id="my_profile_user_certificate_subject_value">
                                        {{ Model.IssuedTo | Escape }}
                                    </td>
                                </tr>
                                <tr>
                                    <td id="my_profile_user_certificate_issuer_header">
                                        {{ Resources.CommonTextResources_Issuer | Escape }}
                                    </td>
                                    <td class="breakword" id="my_profile_user_certificate_issuer_value">
                                        {{ Model.IssuedBy | Escape }}
                                    </td>
                                </tr>
                                <tr>
                                    <td id="my_profile_user_certificate_thumbprint_header">
                                        {{ Resources.CommonTextResources_Thumbprint | Escape }}
                                    </td>
                                    <td class="breakword" id="my_profile_user_certificate_thumbprint_value">
                                        {{ Model.Thumbprint | Escape }}
                                    </td>
                                </tr>
                                <tr>
                                    <td id="edit_user_certificate_expiration_date_header">
                                        {{ Resources.CommonTextResources_ValidFrom | Escape }}
                                    </td>
                                    <td id="edit_user_certificate_expiration_date_value">
                                        {{ Model.ValidFrom | Escape }}
                                    </td>
                                </tr>
                                <tr>
                                    <td id="my_profile_user_certificate_expiration_date_header">
                                        {{ Resources.CommonTextResources_ValidTo | Escape }}
                                    </td>
                                    <td class="breakword" id="my_profile_user_certificate_expiration_date_value">
                                        {{ Model.ExpirationDate | Escape }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if Model.CanEditUserCertificate %}
                    <button type="button" class="btn submit-outline-button mb-3" 
                        data-toggle="modal" data-target="#confirmDeleteModal">
                        <span>{{ Resources.CertificateTextResources_Delete_Certificate_Button | Escape }}</span>
                    </button>
                {% endif %}
            {% endif %}

            {% if Model.CanEditUserCertificate %}
                <div class="form-group mb-3">
                    <label id="my_profile_upload_certificate_label" class="control-label">
                        {{ Resources.CommonTextResources_Uploadcertificate | Escape }}
                    </label>
                    <p class="text-muted">
                        {{ Resources.MyProfile_MyDetail_InValidCertificateExtensions | Escape }}
                    </p>
                    <div class="form-control btn-file-border">
                        <input id="uploadCertificate" name="UploadCertificate" type="file" 
                            accept=".cer,.crt,.der" onchange="checkUploadCertificate()" class="font-small" />
                    </div>
                </div>
                <br />
                <div class="form-group text-center">
                    <input id="btnUpload" type="submit" formaction="/selfservice/Certificate/Update" 
                        class="btn btn-selfservice" value="{{ Resources.CommonTextResources_Upload | Escape }}">
                </div>
            {% else %}
                <div class="form-group text-center">
                    <span>{{ Resources.MyProfile_CannotChangeCertificateMessage | Escape }}</span>
                </div>
            {% endif %}

            <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" 
                aria-labelledby="confirmDeleteModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="background:white; color:black;">
                        <div class="modal-header" style="border-bottom: 1px solid rgba(0,0,0,.2); display: flex">
                            <h5 class="modal-title" id="confirmDeleteModal" style="float:left; color:black">
                                {{ Resources.CertificateTextResources_Delete_Certificate | Escape }}
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                <strong class="ml-1">
                                    {{ Resources.CertificateTextResources_Delete_Certificate_Cannot_Recover | Escape }}
                                </strong>
                            </p>
                            <p>
                                {{ Resources.CertificateTextResources_Delete_Certificate_Recommend | Escape }}
                            </p>
                            <p class="form-check" style="margin-bottom:unset;">
                                <input id="confirmDelete" type="checkbox" onchange="checkConfirmToDelete(this)" 
                                    class="form-check-input" name="confirmDelete" value="true" />
                                <label for="confirmDelete" style="margin-bottom:unset;">
                                    {{ Resources.CertificateTextResources_Delete_Certificate_Confirm_To_Delete | Escape }}
                                </label>
                            </p>
                        </div>
                        <div class="modal-footer" style="border-top: 1px solid rgba(0,0,0,.2)">
                            <div class="form-group m-auto text-center">
                                <input id="confirmDeleteBtn" type="submit" disabled 
                                    formaction="/selfservice/Certificate/Delete?confirmDelete=true" 
                                    class="btn btn-selfservice" 
                                    value="{{ Resources.CertificateTextResources_Confirm_Delete_Certificate_Button | Escape }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
