{% extends "IdentifyMeSiteLayout" %}
{% block "titleheader" %}{{Resources.AuthenticatorAdministration_AuthenticatorsTitle | Escape }}{% endblock %}
{% block "initscript" %}
<link rel="stylesheet" href="/selfservice/css/authenticator-administration.css"/>
{% endblock %}
{% block "scripts" %}
<script src="/selfservice/js/delete.js"></script>
{% endblock %}
{% block "content" %}
<div class="form-box">
    <div class="form-top">
        <div class="form-top-left text-left">
            <h4 class="text-selfservice">
                {{ Resources.AuthenticatorAdministration_AuthenticatorsTitle | Escape }}
            </h4>
            <p>
                {{ Resources.AuthenticatorAdministration_AuthenticatorsDescription | Escape }}
            </p>
        </div>
    </div>

    <br />
    <div class="form-bottom form-center">
        <form
            action="/selfservice/Authenticator/EnableAuthenticator"
            id="security_form"
            role="form"
            method="post"
        >
            {{ Csrf }}
            {% if Model.ErrorMessage != null && Model.ErrorMessage != "" %}
            <div
                id="form-error-message"
                class="form-group text-center text-break"
            >
                <span for="errorMessageLb" class="text-danger">
                    {{ Model.ErrorMessage | br_to_newline | Escape }}
                </span>
            </div>
            {% endif %}
            {% if Model.HasNoAuthenticators %}
            <div id="two_factor_authentication_header" class="text-center">
                <div>
                    {{ Resources.MyProfile_Security_NoAuthenticatorConfigure | Escape }}
                </div>
            </div>
            {% endif %}

            <ul class="list-group list-group-flush">
                {% for authenticator in Model.Authenticators %}
                <input
                    type="hidden"
                    name="Authenticators[{{authenticator.Index}}].UserId"
                    value="{{ authenticator.UserId | Escape }}"
                />
                <input
                    type="hidden"
                    name="Authenticators[{{authenticator.Index}}].MfaMethod"
                    value="{{ authenticator.MfaMethod | Escape }}"
                />
                <input
                    type="hidden"
                    name="Authenticators[{{authenticator.Index}}].EnabledAuthenticator"
                    value="{{ authenticator.EnabledAuthenticator | Escape }}"
                />
                <input
                    type="hidden"
                    name="Authenticators[{{authenticator.Index}}].SecondFactorConnectionName"
                    value="{{ authenticator.SecondFactorConnectionName | Escape }}"
                />
                <input
                    type="hidden"
                    name="Authenticators[{{authenticator.Index}}].SecondFactorConnectionDescription"
                    value="{{ authenticator.SecondFactorConnectionDescription | Escape }}"
                />

                <li
                    id="user_activated_authenticators_editor_{{authenticator.Index}}_name"
                    class="list-group-item list-group-item-action align-items-center gray-bg d-flex justify-content-between"
                >
                    {{ authenticator.SecondFactorConnectionDescription | Escape }}
                    {% if authenticator.EnabledAuthenticator %}
                    <button
                        id="btnResetAuthenticator"
                        class="btn btn-selfservice pull-right delete"
                        type="submit"
                        data-action-url="/selfservice/Authenticator/ResetAuthenticator"
                        data-index="{{ authenticator.Index }}"
                        data-redirect-url="/selfservice/Authenticator/AuthenticatorAdministration"
                        data-title-message="{{ Resources.AuthenticatorAdministration_Confirmation_Title | Escape }}"
                        data-body-message="{{ Resources.AuthenticatorAdministration_Confirmation_Message | Escape }}"
                        data-btn-confirm-text="{{ Resources.CommonTextResource_Button_ConfirmationDeleteYes | Escape }}"
                        data-btn-cancel-text="{{ Resources.CommonTextResource_Button_ConfirmationDeleteNo | Escape }}"
                    >
                        {{ Resources.WebAuthenticationAdministration_Button_Reset | Escape }}
                    </button>
                    {% else %}
                    <button
                        id="btnEnableAuthenticator"
                        type="submit"
                        class="btn btn-selfservice pull-right"
                        formaction="/selfservice/Authenticator/EnableAuthenticator?index={{authenticator.Index}}"
                    >
                        {{ Resources.WebAuthenticationAdministration_Button_Register | Escape }}
                    </button>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </form>
    </div>
</div>
{% endblock %}
