{% extends "SiteLayout" %}

{% block "titleheader" %}
{{ Resources.RuntimeModelResources.RuntimeModelSelectLanguageView_TitleContent | Escape }}
{% endblock %}

{% block "initscript"  %}
<script src="runtime/scripts/choose-language.js"></script>
{% endblock %}

{% block "content" %}
<div class="form-box select-language">
  <div class="form-top">
    <div class="form-top-left">
      <h4>
        {{ Resources.RuntimeModelResources.RuntimeModelSelectLanguageView_TitleContent | Escape }}
      </h4>
      <div class="small">
        {{ Resources.RuntimeModelResources.RuntimeModelSelectLanguageView_Note | Escape }}
      </div>
    </div>
  </div>
  <div class="form-bottom">
    <form role="form" method="post" class="login-form" action="runtime/LanguageChooser" id="languageForm">
      {{ Csrf }}
      <input type="hidden" name="selectedLanguage" value="{{ Model.SelectedLanguage }}" id="language-code-selected" />

      <div class="form-group">
        <p class="language-option {% if Model.SelectedLanguage == 'en' %}active{% endif %}" data-code="en">
          English
          {% if Model.SelectedLanguage == 'en' %}
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
              <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
            </svg>
          {% endif %}
        </p>
        
        <p class="language-option {% if Model.SelectedLanguage == 'da' %}active{% endif %}" data-code="da">
          Danish
          {% if Model.SelectedLanguage == 'da' %}
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
              <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
            </svg>
          {% endif %}
        </p>
        
        <p class="language-option {% if Model.SelectedLanguage == 'nl' %}active{% endif %}" data-code="nl">
          Dutch
          {% if Model.SelectedLanguage == 'nl' %}
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
              <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
            </svg>
          {% endif %}
        </p>
      </div>
    </form>
  </div>
</div>
{% endblock %}
