{% extends "SiteLayout" %}

{% block "content" %}
<div class="nav-box-50">
        <div class="form-top">
            <div class="form-top-left text-left">
                <h4>
                    {{Resources.OtpResources.OtpAuthenticationFailedView_OS2faktorErrorViewErrorHeader}}
                </h4>
            </div>
        </div>
        <div class="form-bottom">
            <div class="text-center text-danger">
                <div class="os2faktor-error-message">
                    {{Resources.OtpResources.OtpAuthenticationFailedView_OS2faktorNoDeviceErrorMessage}}
                </div>
            </div>
            {% if Model.IsShowLinkToChooseOtpMethods %}
                <hr />
                <div class="text-center">
                    <h6>
                        {{Resources.OtpResources.OtpAuthenticationView_ChooseAnotherAuthenticators}}
                    </h6>
                </div>
                {% for otp in Model.AvailableOtpMethods %}
                    <div style="padding: 0 28px;">
                        <p style="margin-bottom: 0.5rem !important">
                            {% if otp.IsAuthenticatorType %}
                                <a href="{{otp.ChangeTokenProviderUrl}}">{{otp.ChangeTokenProviderText}}</a>
                            {% endif %}

                            {% if otp.IsOs2faktorType %}
                                <a href="{{otp.ChangeTokenProviderUrl}}">{{otp.ChangeTokenProviderText}}</a>
                            {% endif %}

                            {% if otp.IsEmailType %}
                                 <a href="{{otp.ChangeTokenProviderUrl}}">{{otp.ChangeTokenProviderText}}</a>
                            {% endif %}

                            {% if otp.IsSmsType %}
                                <a href="{{otp.ChangeTokenProviderUrl}}">{{otp.ChangeTokenProviderText}}</a>
                            {% endif %}

                            {% if otp.IsWebAuthn %}
                                <a href="{{otp.ChangeTokenProviderUrl}}">{{otp.ChangeTokenProviderText}}</a>
                            {% endif %}
                        </p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %} 