{% extends "SiteLayout" %}

{% block "titleheader" %}
{{Resources.OtpResources.OtpAuthenticationView_TitleContent | Escape }}
{% endblock %}

{% block "content" %}
    <div class="form-box">
        <div class="form-top">
            <div class="form-top-left text-left">
                <h4>{{Resources.OtpResources.OtpAuthenticationFailedView_OS2faktorLogin | Escape }}</h4>
            </div>
            <div class="small">
                {{Resources.OtpResources.OtpAuthenticationFailedView_OS2faktorPickDeviceHelpText | Escape }}
            </div>
        </div>
        <div class="form-bottom">
            <form id="loginForm" style = "padding:0px; padding-top:16px" method="POST" action="/runtime/otpauth/os2faktor/client?ici_ci={{Model.ContextId | Escape }}">
                {{ Csrf }}
                <input id="deviceId" type="hidden" name="DeviceId" />
                {% for device in Model.Devices %}
                    <div style="padding: 0 28px;">
                        <b>{{Resources.OtpResources.OtpAuthenticationFailedView_OS2faktorDeviceId | Escape }} ({{device.DeviceId | Escape }})</b>
                        <br>
                        <p><a id="{{device.DeviceId | Escape }}" href="javascript:setDeviceId('{{device.DeviceId | Escape }}')">{{Resources.OtpResources.OtpAuthenticationFailedView_OS2faktorPickDeviceLoginVia | Escape }} {{device.Type | Escape }}</a></p>
                        <hr />
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>
    <script type="text/javascript">
        var setDeviceId = function (value) {
            $("#deviceId")[0].value = value;
            $("#loginForm").submit();
        };
    </script>
{% endblock %} 