{% extends "SiteLayout" %}

{% block "titleheader"  %}
{{Resources.OtpResources.OtpAuthenticationView_TitleHeader | Escape }}
{% endblock %}

{% block "titlecontent"  %}
{{Resources.OtpResources.OtpAuthenticationView_TitleContent | Escape }}
{% endblock %}

{% block "content" %}
<div class="nav-box-50">
        <div class="form-top">
            <div class="form-top-left text-left">
                {% if Model.HelpText != null and Model.HelpText != ""%}
                    <div class="text-justify help-text inner-list">{{Model.HelpText | Escape }}</div>
                {% endif %}
                <h4>
                    {% if Model.IsEmailType %}
                    <text>{{Resources.OtpResources.OtpAuthenticationView_EmailModeContent | Escape }} {{Model.ContactInfo | Escape }}</text>
                    {% else %}
                    <text>{{Resources.OtpResources.OtpAuthenticationView_SMSModeContent | Escape }} {{Model.ContactInfo | Escape }}</text>
                    {% endif %}
                    <br />
                    {{Resources.OtpResources.OtpAuthenticationView_PleaseEnterOTP | Escape }}
                </h4>
            </div>
        </div>
        <div class="form-bottom">
            <form role="form" method="post" class="login-form" action="/runtime/otpauth/twofactor/validate?ici_ci={{Model.ContextId | Escape }}">
                {{ Csrf }}

                {% if Model.ErrorMessage != null and Model.ErrorMessage != ""%}
                    <div class="form-group small">
                        <span for="errorMessageLb" class="text-danger">
                            {{Model.ErrorMessage | Escape }}
                        </span>
                    </div>
                {% endif %}

                <div class="form-group">
                    <label class="sr-only" for="form-password">{{Resources.OtpResources.OtpAuthenticationView_OneTimePassword | Escape }}</label>
                    <input type="password" name="password" placeholder="{{Resources.OtpResources.OtpAuthenticationView_OneTimePassword | Escape }}..." class="form-username form-control required" id="form-password">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn">{{Resources.OtpResources.OtpAuthenticationView_OK | Escape }}</button>
                </div>

                {% if Model.NumberOfSkippingDays > 0 %}
                    <div class="form-group">
                        <label><input type='checkbox' name="dont-ask-for-N-days">
                            {% assign var1 = '{0\}' %} 
                            {{ Resources.OtpResources.OtpAuthentication_DontAskAgainForNDays | Replace: var1, Model.NumberOfSkippingDaysString  | Escape }}
                        </label>
                    </div>
                {% endif %}

                {% if Model.SecondsUntilUserCanRequestANewOtp > 0 %}
                    <a id="requestOTPLink" style="cursor:default" href="javascript: void(0)">
                        {{Resources.OtpResources.OtpAuthenticationView_YouCanRequestAnotherOtpIn | Escape }} <span id='countdown'></span> {{Resources.OtpResources.OtpAuthenticationView_Seconds | Escape }}
                    </a>
                {% endif %}

                {% if Model.IsTestMode %}
                    {{Model.OtpCode | Escape }}
                {% endif %}
            </form>

            {% if Model.IsShowLinkToChooseOtpMethods %}
                <hr />
                <div class="text-center">
                    <h6>
                        {{Resources.OtpResources.OtpAuthenticationView_ChooseAnotherAuthenticators | Escape }}
                    </h6>
                </div>
                {% for otp in Model.AvailableOtpMethods %}
                    <div style="padding: 0 28px;">
                        <p style="margin-bottom: 0.5rem !important">
                            {% if otp.IsAuthenticatorType %}
                                <a href="{{otp.ChangeTokenProviderUrl | Escape }}">{{otp.ChangeTokenProviderText | Escape }}</a>
                            {% endif %}

                            {% if otp.IsOs2faktorType %}
                                <a href="{{otp.ChangeTokenProviderUrl | Escape }}">{{otp.ChangeTokenProviderText | Escape }}</a>
                            {% endif %}

                            {% if otp.IsEmailType %}
                                <a href="{{otp.ChangeTokenProviderUrl | Escape }}">{{otp.ChangeTokenProviderText | Escape }}</a>
                            {% endif %}

                            {% if otp.IsSmsType %}
                                <a href="{{otp.ChangeTokenProviderUrl | Escape }}">{{otp.ChangeTokenProviderText | Escape }}</a>
                            {% endif %}

                            {% if otp.IsWebAuthn %}
                                <a href="{{otp.ChangeTokenProviderUrl | Escape }}">{{otp.ChangeTokenProviderText | Escape }}</a>
                            {% endif %}

                            {% if otp.IsDeviceAuthentication %}
                                <a href="{{otp.ChangeTokenProviderUrl | Escape }}">{{otp.ChangeTokenProviderText | Escape }}</a>
                            {% endif %}
                        </p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %} 

{% block "initscript"  %}
<script src="runtime/scripts/disable-buttons-on-submit-form.js"></script>
<script type="text/javascript">
    var timeleft = parseInt("{{Model.SecondsUntilUserCanRequestANewOtp }}");
    var downloadTimer = setInterval(function () {
        document.getElementById("countdown").innerHTML = timeleft;
        timeleft -= 1;
        if (timeleft < 0) {
            clearInterval(downloadTimer);
            var currentUrl = window.location.href;
			var url = currentUrl.replace('/validate', '/login');
            document.getElementById("requestOTPLink").innerHTML = "{{Resources.OtpResources.OtpAuthenticationView_RequestNewOTPCode | Escape }}";
            document.getElementById("requestOTPLink").href = url;
            document.getElementById("requestOTPLink").style = "cursor:pointer";
        }
    }, 1000);
</script>
{% endblock %}