{% extends "SiteLayout" %}

{% block "titleheader"  %}
{{Resources.OtpResources.OtpMalformedView_Title | Escape }}
{% endblock %}

{% block "content" %}
<div class="nav-box-50">
        <div class="form-top">
            <div class="form-top-left text-left">
                <h4>
                    {% if QueryStringMessage != null and QueryStringMessage != "" %}
                    {{QueryStringMessage | Escape }}
                    {% else %}
                    {{Resources.OtpResources.OtpMalformedView_Content | Escape }}
                    {% endif %}
                </h4>
                {% if Model != null and Model.Details != null %}
                    <br />
                    <h4>
                        {{Model.Message | Escape }}
                    </h4>
                    <ul>
                        {% for detail in Model.Details %}
                        <li>{{detail | Escape }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="form-bottom">
                <script>
                        var commentRemainingCharacter = "{{ Resources.RuntimeModelResources.RuntimeModelUserCommentRemainingCharacter  | Escape }}";
                    </script>
                    
                    <script type="text/javascript" src="runtime/Scripts/correlation_error.js">
                    </script>
                    
                    <div id="divProcessing" style="display: none;">
                        <h4>{{ Resources.RuntimeModelResources.RuntimeModelProcessing  | Escape }}</h4>
                    </div>
                    <div id="divCorrelationError">
                        {% if Model.CorrelationError == null%}
                        <form role="form" method="post" class="login-form" action="runtime/ErrorReport/Report">
    
                            {{ Csrf }}
                        
                            <h4>
                                {{Resources.RuntimeModelResources.RuntimeModelUserComment | Escape }}
                            </h4>
                            <div class="form-group">
                                <div class="textarea-stypeWith80">
                                    <textarea id="UserComment" name="UserComment" cols = "80" rows = "10" maxlength = "1000" class="textarea-stypeWidth100 required" draggable="false"></textarea>
                                </div>
                        
                                <div id="char-counter">(<strong>1000 </strong>{{Resources.RuntimeModelResources.RuntimeModelUserCommentRemainingCharacter | Escape }})</div>
                            </div>
                        
                            <input id="ErrorData" name="ErrorData" type="hidden" value="{{ Model.ErrorMessage64BaseString  | Escape }}" />
                            <input id="RequestUrl" name="RequestUrl" type="hidden" value="{{ Model.RequestUrl  | Escape }}" />
                        
                            <div class="form-group">
                                <label for="captcha" class="small">
                                    {{Resources.RuntimeModelResources.RuntimeModelCorelationReportEnterCaptchaLabel_Enter | Escape }} {{ Captchar }}
                                    {{Resources.RuntimeModelResources.RuntimeModelCorelationReportEnterCaptchaLabel_Below | Escape }}
                                </label><br />
                                <input type="text" name="captcha" placeholder="Code..." class="textarea-stypeWidth100 required" id="form-captcha">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn">{{Resources.RuntimeModelResources.RuntimeModelSendError | Escape }}</button>
                            </div>
                        </form>
                        {% else %}
                        <h4>
                            {{Resources.RuntimeModelResources.RuntimeModelUserReportCorrelationErrorComplete | Escape }}
                        </h4>
                        
                        <h4>
                            {{Resources.RuntimeModelResources.RuntimeModelCorrelationId | Escape }}
                        </h4>
                        
                        <p>
                            {{Model.CorrelationError.CorrelationId }}
                        </p>
                        
                        <br />
                        
                        <h4>
                            {{Resources.RuntimeModelResources.RuntimeModelIssuedDate | Escape }}
                        </h4>
                        
                        <p>
                            {{Model.CorrelationError.IssuedDate | Escape }}
                        </p>
                        {% endif %}
                    </div>
        </div>
    </div>
{% endblock %} 