{% extends "SiteLayout" %}

{% block "titleheader"  %}
{{Resources.UserNamePasswordResources.UserNamePasswordRenewEmailSentOutTitle}}
{% endblock %}

{% block "content" %}
    <div class="form-box">
        <div class="form-top">
            <div class="form-top-left text-left">

                <br />
                {{Resources.UserNamePasswordResources.UserNamePasswordRenewEmailSentOutLabel}}
                <br />
                {{Resources.UserNamePasswordResources.UserNamePasswordCannotRequestRenewAgainWithinOneHourLabel}}

            </div>
        </div>
        <div class="form-bottom"></div>
    </div>  
{% endblock %}   