{% extends "SiteLayout" %}

{% block "titleheader"  %}
{{Resources.UserNamePasswordResources.UserNamePasswordRenewFailedTitle}}
{% endblock %}

{% block "content" %}
    <div class="form-box">
        <div class="form-top">
            <div class="form-top-left text-left">
                <br />
                {{Resources.UserNamePasswordResources.UserNamePasswordRenewFailedReasonsLabel}}
                <br />
                - {{Resources.UserNamePasswordResources.UserNamePasswordRenewFailedTheRequestWasExpiredReasonLabel}}
                <br />
                - {{Resources.UserNamePasswordResources.UserNamePasswordRenewFailedInvalidCodeReasonLabel}}
                <br />
                - {{Resources.UserNamePasswordResources.UserNamePasswordNewRequestsExistReasonLabel}}
            </div>
        </div>
        <div class="form-bottom"></div>
    </div>  
{% endblock %} 