{% extends "SiteLayout" %}

{% block "titleheader"  %}
{{Resources.UserNamePasswordResources.UserNamePasswordRenewFailedTitle | Escape }}
{% endblock %}

{% block "content" %}
    <div class="form-box">
        <div class="form-top">
            <div class="form-top-left text-left">
                <br />
                {{Resources.UserNamePasswordResources.UserNamePasswordRenewFailedReasonsLabel | Escape }}
                <br />
                - {{Resources.UserNamePasswordResources.UserNamePasswordRenewFailedTheRequestWasExpiredReasonLabel | Escape }}
                <br />
                - {{Resources.UserNamePasswordResources.UserNamePasswordRenewFailedInvalidCodeReasonLabel | Escape }}
                <br />
                - {{Resources.UserNamePasswordResources.UserNamePasswordNewRequestsExistReasonLabel | Escape }}
            </div>
        </div>
        <div class="form-bottom"></div>
    </div>  
{% endblock %} 