{% extends "SiteLayout" %}
{% block "content" %}
<div class="form-box">
        <div class="form-top">
            <div class="form-top-left text-left">
                {% if Model.HelpText != "" %}
                <div class="text-justify help-text inner-list">{{ Model.HelpText }}</div>
                {% endif %}
                <h4>
                    {{Resources.UserNamePasswordResources.UserNamePasswordPleaseEnterLogInInformationLabel}}
                </h4>
                <div class="small">
                    {% if Model.UsernameIsCaseSensitive %}
                        {% assign var0 = '{0\}' %} 
                        {{ Resources.UserNamePasswordResources.UserNamePasswordPleaseNoticeBothFieldsAreCaseSensitiveLabel | Replace: var0, Model.NameClaim }}
                    {% else %}
                        {{Resources.UserNamePasswordResources.UserNamePasswordPleaseNoticePasswordIsCaseSensitiveLabel}}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="form-bottom">
            <form role="form" method="post" class="login-form">
                {{ Csrf }}

                {% if Model.ErrorMessage != "" %}
                <div class="form-group small">
                    <span for="errorMessageLb" class="text-danger">
                        {{ Model.ErrorMessage }}
                    </span>
                </div>
                {% endif %}


                {% if Model.AttemptLeftFailedMessage != "" %}
                <div class="form-group small">
                    <span for="attemptsLeftMessageLb" class="text-danger">
                        {{ Model.AttemptLeftFailedMessage }}
                    </span>
                </div>
                {% endif %}

                <div class="form-group">
                    <label class="sr-only" for="form-username">{{ Model.NameClaim }}</label>
                    <input type="text" name="name" placeholder="{{ Model.NameClaim }}" value="{{ Model.SentInUserName }}" class="form-username form-control required" id="form-username">
                </div>
                <div class="form-group">
                        <label class="sr-only" for="form-password">{{Resources.UserNamePasswordResources.UserNamePasswordPasswordLabel}}</label>
                        <input type="password" name="password" placeholder="{{Resources.UserNamePasswordResources.UserNamePasswordPasswordLabel}}" class="form-password form-control required" id="form-password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn">{{Resources.UserNamePasswordResources.ForgotPasswordPage_OK}}</button>
                </div>
                <div class="text-center">
                    <span class="text-danger">
                        {{ResetPasswordLink}}
                    </span>
                </div>

                {% if Model.IsShowLinkToReturnLoginChoose %}
                <div class="text-center">
                    <div class="form-group">
                        <span for="attemptsLeftMessageLb">
                            {{ ReturnToLoginSelectorLink }}
                        </span>
                    </div>
                </div>
                {% endif %}

            </form>
        </div>
    </div>
{% endblock %}  