{% extends "SiteLayout" %}

{% block "titleheader" %}
{{Resources.UserNamePasswordResources.UserNamePasswordLoginPageTitle | Escape }}
{% endblock %}

{% block "content" %}
<div class="form-box">
        <div class="form-top">
            <div class="form-top-left text-left">
                {% if Model.HelpText != "" %}
                <div class="text-justify help-text inner-list">{{ Model.HelpText  | Escape }}</div>
                {% endif %}
                <h4>
                    {{Resources.UserNamePasswordResources.UserNamePasswordPleaseEnterLogInInformationLabel | Escape }}
                </h4>
                <div class="small">
                    {% if Model.UsernameIsCaseSensitive %}
                        {% assign var0 = '{0\}' %} 
                        {{ Resources.UserNamePasswordResources.UserNamePasswordPleaseNoticeBothFieldsAreCaseSensitiveLabel | Replace: var0, Model.NameClaim  | Escape }}
                    {% else %}
                        {{Resources.UserNamePasswordResources.UserNamePasswordPleaseNoticePasswordIsCaseSensitiveLabel | Escape }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="form-bottom">
            <form role="form" method="post" class="login-form">
                {{ Csrf }}

                {% if Model.ErrorMessage != "" %}
                <div class="form-group small">
                    <span for="errorMessageLb" class="text-danger">
                        {{ Model.ErrorMessage | br_to_newline | Escape }}
                    </span>
                </div>
                {% endif %}


                {% if Model.AttemptLeftFailedMessage != "" %}
                <div class="form-group small">
                    <span for="attemptsLeftMessageLb" class="text-danger">
                        {{ Model.AttemptLeftFailedMessage  | Escape }}
                    </span>
                </div>
                {% endif %}

                <div class="form-group">
                    <label class="sr-only" for="form-username">{{ Model.NameClaim  | Escape }}</label>
                    <input type="text" name="name" placeholder="{{ Model.NameClaim  | Escape }}" value="{{ Model.SentInUserName  | Escape }}" class="form-username form-control required" id="form-username">
                </div>
                <div class="form-group">
                        <label class="sr-only" for="form-password">{{Resources.UserNamePasswordResources.UserNamePasswordPasswordLabel | Escape }}</label>
                        <input type="password" name="password" placeholder="{{Resources.UserNamePasswordResources.UserNamePasswordPasswordLabel | Escape }}" class="form-password form-control required" id="form-password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn">{{Resources.UserNamePasswordResources.ForgotPasswordPage_OK | Escape }}</button>
                </div>
                <div class="text-center">
                    <span class="text-danger">
                        {{ResetPasswordLink }}
                    </span>
                </div>
            </form>
            {% if Model.IsShowLinkToReturnLoginChooser %}
                <div class="text-center" style="padding-bottom:25px">
                    <span for="attemptsLeftMessageLb">
                        {{ ReturnToLoginSelectorLink }}
                    </span>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}  