{% extends "SiteLayout" %}

{% block "titleheader"  %}
{{Resources.OtpResources.OtpAuthenticationFailedView_WebAuthenErrorViewTitleHeader}}
{% endblock %}

{% block "content" %}
<div class="form-box">
    <div class="form-top">
        <div class="form-top-left text-left">
            <h4>{{Resources.OtpResources.OtpAuthenticationFailedView_WebAuthenErrorViewErrorHeader}}</h4>
        </div>
    </div>
    <div class="form-bottom">
        <div class="text-center text-danger">
            {{Resources.OtpResources.OtpAuthenticationFailedView_WebAuthenErrorViewErrorContent}}
        </div>
        
        <hr />
        <div class="text-center">
            <h6>
                {{Resources.OtpResources.OtpAuthenticationView_ChooseAnotherAuthenticators}}
            </h6>
        </div>
        {% if Model.IsShowLinkToChooseOtpMethods %}
            {% for otp in Model.GeneratedOtpMethods %}
                    <div style="padding: 0 28px;">
                        <p style="margin-bottom: 0.5rem !important">
                            {% if otp.IsEmailType %}
                                <a href="{{otp.ChangeTokenProviderUrl}}">{{otp.ChangeTokenProviderText}}</a>
                            {% endif %}

                            {% if otp.IsOs2faktorType %}
                                <a href="{{otp.ChangeTokenProviderUrl}}">{{otp.ChangeTokenProviderText}}</a>
                            {% endif %}

                            {% if otp.IsSmsType %}
                                <a href="{{otp.ChangeTokenProviderUrl}}">{{otp.ChangeTokenProviderText}}</a>
                            {% endif %}

                            {% if otp.IsAuthenticatorType %}
                                <a href="{{otp.ChangeTokenProviderUrl}}">{{otp.ChangeTokenProviderText}}</a>
                            {% endif %}
                        </p>
                    </div>
                {% endfor %}
                <hr />
            {% endif %}

            <div class="form-group" style="padding: 0px 28px;">
                <a href="{{Model.RecoveryCodePath}}">{{Resources.OtpResources.OtpRecoveryCode_Title}}</a>
            </div>
    </div>
</div>
{% endblock %} 