<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dk.nita.saml20" version="1.7.13" targetFramework="net45" />
  <package id="dk.nita.saml20.ext.audit.log4net" version="1.0.0" targetFramework="net45" />
  <package id="log4net" version="2.0.1" targetFramework="net45" />
  <package id="Serilog" version="2.2.1" targetFramework="net45" />
  <package id="Serilog.Extras.AppSettings" version="2.0.0" targetFramework="net45" />
  <package id="Serilog.Settings.AppSettings" version="2.0.0" targetFramework="net45" />
</packages>