@using Safewhere.IdentityProvider.RuntimeModel
@using Safewhere.IdentityProviderModel
@using Safewhere.Web.Mvc
@using Safewhere.External.Samples

@section TitleHeader{
    Social Security Number Interceptor
}
@section InitScript{

}
@section TitleContent{
    Social Security Number Interceptor
}
@section MainContent{
    <div class="form-box">
        <div class="form-top">
            <div class="form-top-left text-left">
                <h4>
                    Social Security Number Interceptor
                </h4>
                <div class="text-justify help-text inner-list"><span style="color:red;">The code you entered is invalid. Please enter a valid code below:</span><br />1122, 1234, 6678, 0601, 2010</div>
            </div>
        </div>
        <div class="form-bottom">
            <form method="post">
                @Html.AntiForgeryToken()
                <input class="form-control" type="text" name="socialnumber" />
                <br />
                <div class="form-group">
                    <button type="submit" class="btn" tabindex="3">OK</button>
                </div>
                @Html.Partial("RenderFormParameters", new RenderFormParametersModel(Model.ContextId))
            </form>
        </div>
    </div>
}