@using Safewhere.IdentityProvider.RuntimeModel
@using Safewhere.IdentityProviderModel
@using Safewhere.Web.Mvc
@using Safewhere.External.Samples

@model ModelWithContextId

@section TitleHeader{
    Social Security Number Interceptor
}
@section InitScript{

}
@section TitleContent{
    Social Security Number Interceptor
}
@section MainContent{
    <h2>Please enter your social security number </h2>
    <p>Valid numbers: 1122, 1234, 6678, 0601, 2010</p>
    <form method="post">
        <input type="text" name="socialnumber" />
        <br /><br />
        <input type="submit" value="OK" tabindex="3" />

        @Html.Partial("RenderFormParameters", new RenderFormParametersModel(Model.ContextId))
    </form>
}