<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
    <add name="RabbitMQ" connectionString="amqp://ndt:123456@192.168.1.106/"/>
  </connectionStrings>
  <appSettings>
    <add key="Topic" value="prime_Identify"/>
  </appSettings>
</configuration>
