<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
	<!--Identify REST API-->
	<add key="Domain" value="https://identify-demo.safewhere.local" />
	<add key="RestApiPath" value="/admin/api/rest/v2/" />

	<!-- Access token (Let's go to Readme.md to know how to generate access token)  -->
	<add key="AccessToken" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>