{% extends "SiteLayout" %}

{% block "titleheader"  %}
{{Resources.UserNamePasswordResources.UserNamePasswordRenewPasswordPageTitle | Escape }}
{% endblock %}

{% block "initscript"  %}
<script src="runtime/scripts/zxcvbn.js"></script>
{% endblock %}

{% block "content" %}
    <div class="form-box">
        <div class="form-top">
            <div class="form-top-left text-left">
                <h4>
                    {{Resources.UserNamePasswordResources.UserNamePasswordToRenewInsertNewPasswordLabel | Escape }}
                </h4>
                <div class="small">
                    <text>{{PasswordPolicy | Escape }}</text>
                </div>
            </div>
        </div>
        <div class="form-bottom">
            <form id="resetPassword" method="POST" action="runtime/ResetPassword/RenewPassword">
            
                {{ Csrf }}

                {% if ErrorMessage != "" %}
                    <div class="form-group small">
                        <span for="errorMessageLb" class="text-danger">
                            {{ErrorMessage | Escape }}
                        </span>
                    </div>
                {% endif %}

                <div class="form-group">
                    <label class="sr-only" for="form-password">{{Resources.UserNamePasswordResources.UserNamePasswordPasswordLabel | Escape }}</label>
                    <input id="password" type="password" name="password" placeholder="{{Resources.UserNamePasswordResources.UserNamePasswordPasswordLabel | Escape }}..." class="form-password form-control required" id="form-password">
                </div>
                <div id="password-strength-indicator"></div>
                
                <div class="form-group">
                    <label class="sr-only" for="form-password">{{Resources.UserNamePasswordResources.UserNamePasswordRepeatPasswordLabel | Escape }}</label>
                    <input type="password" name="repeatPassword" placeholder="{{Resources.UserNamePasswordResources.UserNamePasswordRepeatPasswordLabel | Escape }}..." class="form-password form-control required" id="form-password">
                    <input type="hidden" id="requestId" name="requestId" value="{{RequestId | Escape }}">
                </div>

                <div class="form-group">
                    <button id="btnOK" type="submit" class="btn" disabled >{{Resources.UserNamePasswordResources.ForgotPasswordPage_OK | Escape }}</button>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" language="JavaScript">

        const MINIMUM_SCORE = 2;
        const passwordInput = document.getElementById('password');
        const passwordStrengthIndicator = document.getElementById('password-strength-indicator');
        const btnOK = document.getElementById('btnOK');

        var result;
        passwordInput.addEventListener('input', () => {
            const password = passwordInput.value;
            result = zxcvbn(password);

            // Update the password strength indicator
            passwordStrengthIndicator.textContent = `Password Strength: ${result.score}/4`;
            // You can also provide feedback to the user based on the score
            if (result.score === 0) {
                passwordStrengthIndicator.style.color = 'red';
                passwordStrengthIndicator.textContent += ' (Very Weak)';
            } else if (result.score === 1) {
                passwordStrengthIndicator.style.color = 'orange';
                passwordStrengthIndicator.textContent += ' (Weak)';
            } else if (result.score === 2) {
                passwordStrengthIndicator.style.color = 'yellow';
                passwordStrengthIndicator.textContent += ' (Fair)';
            } else if (result.score === 3) {
                passwordStrengthIndicator.style.color = 'lightgreen';
                passwordStrengthIndicator.textContent += ' (Strong)';
            } else if (result.score === 4) {
                passwordStrengthIndicator.style.color = 'green';
                passwordStrengthIndicator.textContent += ' (Very Strong)';
            }

            // You can also provide feedback to the user based on the score
            if (result.score >= MINIMUM_SCORE) {
                btnOK.disabled = false;
            } else {
                btnOK.disabled = true;
            }

        });

        // Get a reference to the form
        const resetPasswordForm = document.getElementById("resetPassword");
        // Add an event listener to the form to handle form submission
        resetPasswordForm.addEventListener("submit", function (event) {
            // Prevent the form from submitting
            event.preventDefault();

            if (result !== undefined && result.score >= MINIMUM_SCORE) {
                resetPasswordForm.submit();
            } else {
                alert("Sorry, the password you entered does not meet our password strength requirements. Please choose a stronger password.");
            }
        });
    </script>
    
{% endblock %}