<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />

    </configSections>

    <appSettings>
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5"/>
    </system.web>

    <system.identityModel>
        <identityConfiguration>
            <audienceUris>
                <add value="https://claimappservice.safewhere.local/Service.svc"/>
            </audienceUris>
            <issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089">
                <trustedIssuers>
                    <add thumbprint="3C1FD735A4035E3B78D33444DE5327C393AA282E" name="CN=IdentifyDefaultSigning, OU=Dev, O=Safewhere, L=Dev Bunker, S=Copenhagen, C=DK"/>
                </trustedIssuers>
            </issuerNameRegistry>
            <securityTokenHandlers>
                <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
                <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            </securityTokenHandlers>
        </identityConfiguration>
    </system.identityModel>

    <system.serviceModel>
        <services>
            <service behaviorConfiguration="ServiceBehavior" name="Safewhere.Samples.STS.ClaimAppService.Service">
                <endpoint  binding="ws2007FederationHttpBinding"
                           contract="Safewhere.Samples.STS.ClaimAppService.IService"/>
                <endpoint address="mex" binding="mexHttpsBinding" name="mex" contract="IMetadataExchange" />
            </service>
        </services>

        <behaviors>
            <serviceBehaviors>
                <behavior name="ServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                    <serviceCredentials useIdentityConfiguration="true">
                        <clientCertificate>
                            <authentication certificateValidationMode="PeerTrust"/>
                        </clientCertificate>
                        <!--<serviceCredentials>-->
                        <serviceCertificate findValue="3C1FD735A4035E3B78D33444DE5327C393AA282E" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
                    </serviceCredentials>
                </behavior>
            </serviceBehaviors>
        </behaviors>

        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

        <bindings>
            <ws2007FederationHttpBinding>
                <binding>
                    <security mode="TransportWithMessageCredential">
                        <message establishSecurityContext="false" issuedKeyType="BearerKey">
                            <issuerMetadata address="https://sdev45.safewhere.local/runtime/services/trust/mex" />
                        </message>
                    </security>
                </binding>
            </ws2007FederationHttpBinding>
        </bindings>

        <diagnostics>
            <messageLogging logEntireMessage="true" logMalformedMessages="true"  logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="9000000" maxSizeOfMessageToLog="1000000">
                <filters>
                    <clear />
                </filters>
            </messageLogging>
        </diagnostics>

    </system.serviceModel>

    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel" switchValue="Verbose, ActivityTracing" propagateActivity="true">
                <listeners>
                    <add name="traceListener" />
                </listeners>
            </source>
            <source name="System.IdentityModel" switchValue="Verbose">
                <listeners>
                    <add name="traceListener" />
                </listeners>
            </source>
            <source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
                <listeners>
                    <add name="traceListener" />
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener"
                 initializeData="C:\Temp\ClaimAppWebService.svclog" />
        </sharedListeners>
        <trace autoflush="true"/>
    </system.diagnostics>


    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
        <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
        <directoryBrowse enabled="true"/>
    </system.webServer>

</configuration>
